/* if used - this will override bootstrap theme */
html {
  padding: 50px;
}

.Title {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  /* color: purple; */
}

.card {
  width: 20rem;
}

/* .reactive-image {

} */