/* if used - this will override bootstrap theme */
.Title {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  /* color: purple; */
}

.card {
  width: 20rem;
}